@model EventViewModel
@{
    ViewData["Title"] = "Add Event";
}

@section scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<form asp-controller="Event" asp-action="Index" method="post" enctype="application/x-www-form-urlencoded">

    <div class="form-group row">
        <div class="col-sm-2"><label>Event Title:</label></div>
        <div class="col-sm-4">
            <input type="text" asp-for="ActiveEvent.EventName" class="form-control" />
        </div>
        <div class="col-sm-6">
            <span asp-validation-for="ActiveEvent.EventName" class="text-danger"></span>
        </div>
    </div>

    <div>
        <div>
            <button type="submit" class="btn btn-primary">Register</button>
            <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Cancel</a>
        </div>
    </div>
</form>