@model EventViewModel
@{
    ViewData["Title"] = "Add Event";
}

@section scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

<div class="d-inline-flex p-2 bd-highlight flex-column justify-content-start">
    <h7 class="myclass">Conestoga Virtual Game Store - Admin Panel</h7>
</div>
<!-----------------------page title------------------------------->
<div style="margin-top:15px">
    <h2 class="myclass">Add New Event</h2>
</div>

<!-----------------------form------------------------------->
<div style="margin-top:40px; border:solid; border-radius: 30px; border-color:rgb(80, 140, 155); padding:40px; box-shadow: 33px -20px 37px -27px rgba(80,140,155,0.5); ">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <form asp-controller="Event" asp-action="Index" method="post" enctype="application/x-www-form-urlencoded">

        <div class="form-group row" style="margin-bottom:7px;">
            <div class="col-sm-2"><label class="lables required-label">Event Title:</label></div>
            <div class="col-sm-7">
                <input type="text" asp-for="ActiveEvent.EventName" class="form-control" />
            </div>
            <div class="col-sm-3">
                <span asp-validation-for="ActiveEvent.EventName" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row" style="margin-bottom:7px;">
            <div class="col-sm-2"><label class="lables required-label">Event Details:</label></div>
            <div class="col-sm-7">
                <textarea maxlength="500" asp-for="ActiveEvent.Details" class="form-control" > </textarea>
            </div>
            <div class="col-sm-3">
                <span asp-validation-for="ActiveEvent.Details" class="text-danger"></span>
            </div>
            
        </div>

        <div class="form-group row" style="margin-bottom:7px;">
            <div class="col-sm-2"><label class="lables required-label">Start Date:</label></div>
            <div class="col-sm-5">
                <input type="date" asp-for="ActiveEvent.StartDate" class="form-control" required/>
            </div>
            <div class="col-sm-5">
                <span asp-validation-for="ActiveEvent.StartDate" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row" style="margin-bottom:7px;">
            <div class="col-sm-2"><label class="lables">End Date:</label></div>
            <div class="col-sm-5">
                <input type="date" asp-for="ActiveEvent.EndTime" class="form-control" />
            </div>
            <div class="col-sm-5">
                <span asp-validation-for="ActiveEvent.EndTime" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row" style="margin-bottom:7px;">
            <div class="col-sm-2"><label class="lables required-label">Start Date:</label></div>
            <div class="col-sm-5">
                <input type="time" asp-for="ActiveEvent.StartDate" class="form-control" required />
            </div>
            <div class="col-sm-5">
                <span asp-validation-for="ActiveEvent.StartDate" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row" style="margin-bottom:7px;">
            <div class="col-sm-2"><label class="lables">End Date:</label></div>
            <div class="col-sm-5">
                <input type="time" asp-for="ActiveEvent.EndTime" class="form-control" />
            </div>
            <div class="col-sm-5">
                <span asp-validation-for="ActiveEvent.EndTime" class="text-danger"></span>
            </div>
        </div>


        <!-- Event Type Selection -->
        <div class="form-group row" style="margin-bottom:7px;">
            <div class="col-sm-2"><label class="lables">Event Type:</label></div>
            <div class="col-sm-7 row" style="padding-top:10px; padding-left:30px;">
                <div class="form-check col-sm-6">
                    <div class="radio-group">
                        <input class="form-check-input" type="radio" name="event-type" id="event-type2" value="1" asp-for="ActiveEvent.EvTypeId" checked>
                        <label class="form-check-label" for="event-type2">
                            Virtual
                        </label>
                        <input type="text" class="form-control" id="virtual-input" name="virtual-input" placeholder="Enter the events' link" asp-for="ActiveEvent.EventLink">
                    </div>
                </div>

                <div class="form-check col-sm-6">
                    <div class="radio-group">
                        <input class="form-check-input" type="radio" name="event-type" id="event-type1" value="2" asp-for="ActiveEvent.EvTypeId">
                        <label class="form-check-label" for="event-type1">
                            On_Site
                        </label>
                        <input type="text" class="form-control" id="on-site-input" name="on-site-input" placeholder="Enter the street number and street name" asp-for="ActiveEvent.Address.StreetName" disabled>
                    </div>
                </div>
            </div>
            
        </div>


        <div>
            <div class=" flex-row d-flex justify-content-end">
                <button type="submit" class=" pageForm btn btn-custom btn-lg">Add</button>
                <a asp-controller="Event" asp-action="GetAllEvents" class=" pageForm btn-outline-dark btn btn-lg">Cancel</a>
            </div>
        </div>
    </form>
</div>
<script>
    // Get references to the radio buttons and input fields
    const onSiteRadio = document.getElementById('event-type1');
    const virtualRadio = document.getElementById('event-type2');
    const onSiteInput = document.getElementById('on-site-input');
    const virtualInput = document.getElementById('virtual-input');

    // Function to handle radio button change
    function handleRadioChange() {
        if (onSiteRadio.checked) {
            onSiteInput.disabled = false; // Enable on-site input
            virtualInput.disabled = true; // Disable virtual input
            virtualInput.value = ''; // Clear virtual input
        } else if (virtualRadio.checked) {
            virtualInput.disabled = false; // Enable virtual input
            onSiteInput.disabled = true; // Disable on-site input
            onSiteInput.value = ''; // Clear on-site input
        }
    }

    // Add event listeners to radio buttons
    onSiteRadio.addEventListener('change', handleRadioChange);
    virtualRadio.addEventListener('change', handleRadioChange);
</script>

