<div class="breadcrumbsPortal">
    <!------Breadcrumb------>
    <nav style="--bs-breadcrumb-divider: '>'; margin-top:10px; font-size:18px; font-weight: bold;" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Member" asp-action="MemberPortal">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Games</li>
        </ol>
    </nav>
</div>
<!----Search Form----->
<form class="col-sm-7" asp-controller="" asp-action="" method="post" enctype="application/x-www-form-urlencoded">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for event" >
        <div class="input-group-append">
            <button class="btn btn-secondary" type="submit">
                <a style="color: white;"><i class="bi bi-search"></i></a>
            </button>
        </div>
    </div>
</form>

<div class="productsContainer">
    <!-- Card 1 -->
    <div class="cardProducts">
        <img src="~/Imgs/Games/Life is Strange.jpg" alt="Game Image 1">
        <div class="card-content">
            <div>
                <h6>Super Adventure</h6>
                <h6>$30</h6>
            </div>
            
            <button class="btnView">View</button>
        </div>
    </div>


    <!----==========  DELETE THIS PART AFTER RETIVING THE GAMES ITEMS .... its just demo============--->
    <!-- Card 2 -->
    <div class="cardProducts">
        <img src="~/Imgs/Games/Minecraft.jpg" alt="Game Image 1">
        <div class="card-content">
            <div>
                <h6>Super Adventure</h6>
                <h6>$30</h6>
            </div>

            <button class="btnView">View</button>
        </div>
    </div>

    <!-- Card 3 -->
    <div class="cardProducts">
        <img src="~/Imgs/Games/Monopoly.jpg" alt="Game Image 1">
        <div class="card-content">
            <div>
                <h6>Super Adventure</h6>
                <h6>$30</h6>
            </div>

            <button class="btnView">View</button>
        </div>
    </div>

    <!-- Card 4 -->
    <div class="cardProducts">
        <img src="~/Imgs/Games/Super Mario.jpg" alt="Game Image 1">
        <div class="card-content">
            <div>
                <h6>Super Adventure</h6>
                <h6>$30</h6>
            </div>

            <button class="btnView">View</button>
        </div>
    </div>

    <!-- Card 5 -->
    <div class="cardProducts">
        <img src="~/Imgs/Games/Sonic Mania.jpg" alt="Game Image 1">
        <div class="card-content">
            <div>
                <h6>Super Adventure</h6>
                <h6>$30</h6>
            </div>

            <button class="btnView">View</button>
        </div>
    </div>

    <!-- Card 6 -->
    <div class="cardProducts">
        <img src="~/Imgs/Games/Life is Strange.jpg" alt="Game Image 1">
        <div class="card-content">
            <div>
                <h6>Super Adventure</h6>
                <h6>$30</h6>
            </div>

            <button class="btnView">View</button>
        </div>
    </div>

    <!-- Card 7 -->
    <div class="cardProducts">
        <img src="~/Imgs/Games/Life is Strange.jpg" alt="Game Image 1">
        <div class="card-content">
            <div>
                <h6>Super Adventure</h6>
                <h6>$30</h6>
            </div>

            <button class="btnView">View</button>
        </div>
    </div>

    <!-- Card 8 -->
    <div class="cardProducts">
        <img src="~/Imgs/Games/Life is Strange.jpg" alt="Game Image 1">
        <div class="card-content">
            <div>
                <h6>Super Adventure</h6>
                <h6>$30</h6>
            </div>

            <button class="btnView">View</button>
        </div>
    </div>
    <!---=================================================================================================--->


</div>